
*.DS_Store
.DS_Store

client/.idea/
client/package-lock.json
client/node_modules/
client/node_modules/**

server/build/**
server/build/
server/gradle/**
server/gradle/
server/.idea/
server/out/

/pg_data

