<!DOCTYPE html>
<head>
    <title>404</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <!-- <link href="/css/main.css" rel="stylesheet"> -->
    <style>
        .div-to-center {
        position: absolute;
        margin: -100px 0 0 -200px;
        top: 50%;
        left: 50%;
        color: crimson;
        }
    </style>
</head>
<body>

<div class="container">
    <div class="div-to-center">
        <h1>PAGE NOT FOUND - 404</h1>
    </div>
</div>
</body>
</html>