body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.py-2 {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.div-rating {
    background: #f7f7f7;
}

#p-rating {
    color: #4e555b;
    margin-bottom: 0px;
    font-weight: 700;
    text-align: right;
    margin-right: 10px;
}

.user-info {
    color: #9E9E9E;
    font-size: 13px;
    font-style: italic;
}

.list-group-item {
    color: #4e555b;
}

.login {
    background-color: aliceblue;
    border-radius: 7px;
    margin: 0 auto;
    width:20%;
    margin-top: 90px;
}

.form-control {
    margin-bottom: 25px;
}

.nav-link {
    margin-right: 25px;
}

.card-title {
    color: darkred;
}

.div-to-center {
    position: absolute;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
    color: crimson;
}